tensorflow==2.13.0
keras==2.13.1
numpy<2.0.0
scipy==1.10.1

librosa==0.10.1
soundfile>=0.12.1

pandas==1.5.3
matplotlib==3.7.5
seaborn==0.12.2
altair==4.2.2

opencv-python==4.8.0.76
scikit-image==0.21.0
lime==0.2.0.1
torch>=2.1.0
torchvision>=0.16.0
torchxrayvision>=1.2.0
shap>=0.44.0
grad-cam>=1.4.0

scikit-learn==1.2.2
tqdm==4.66.1

streamlit==1.10.0
